template(name='postItem')
  .post
    a(href='#').upvote.btn.btn-default ⬆
    .post-content
      h3
        a(href='#{url}')
          | #{title}
          span #{domain}
      p #{votes} votes, submitted by #{author},
        a(href='{{pathFor "postPage"}}') #{commentsCount} comments
        if ownPost
          a(href='{{pathFor "postEdit"}}') Edit
    a(href='{{pathFor "postPage"}}').discuss.btn.btn-default
      | Discuss
